{% extends "admin/base.html" %}

{% block branding %}
    <div style="margin: 5px;"><h1>
        <a href="/">My Domains</a> |
        <a href="/admin/">Site Administration</a>
    </h1></div>
{% endblock %}

{% block nav-global %}{% endblock %}
